page {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #212529;
}

.button-box {
  width: 240rpx;
  background-color: var(--success-color);
  color: var(--light-color);
  line-height: 80rpx;
  text-align: center;
  letter-spacing: 10rpx;
  margin-top: 20rpx;
  border-radius: 50rpx;
}
.button-box:active {
  box-shadow: 2rpx 2rpx 2rpx 4rpx var(--success-color);
}
